
<% content_for :page_title do %>
	<%= @list.name %>
<% end %>
<% content_for :doc_title do %>
	<% unless @current_view.nil? %>
		<%= @list.views[@current_view].name.capitalize+' of ' %>
	<% end %>
	<%= @list.name %>
<% end %>
<% content_for :extra do %>
	<%= render :partial => 'views' %>
<% end %>
	<div id="data" data-bind="visible: dataModel.current.state() == 'explore' " >
		<h2 class="view_title">Your Data</h2>
		<% if can? :manage, @list.org %>
			<%= link_to 'Edit', list_edit_path(@list.org.to_param, @list.to_param) %>
		<% end %>
		<div class="quicksearch">
			<input data-bind="value: dataModel.current.quickSearch, valueUpdate: 'change'"  placeholder="Quicksearch">
			<button data-bind="text: dataModel.current.quickSearch() == '' ? 'search' : 'x' "></button>
		</div>
		<div class="table gfTable" id="table" data-bind="template: {name: 'gfTable', data: dataModel.current.table}, style: { height: dataModel.current.height() +'px' } "></div>
	</div>

	<div id="add" data-bind="visible: dataModel.current.state() == 'add'">
		<h2 data-bind="text: 'New Row'+newRows.plurl()"></h2>
		<div class="forms gfTable" data-bind="template: {foreach: newRows, name:'form'}, visible: dataModel.current.form()"></div>
		<div class="table gfTable" id="newTable" data-bind="template: {name: 'gfTable', data: dataModel.current.newTable}, visible: !dataModel.current.form()"></div>
		<h3 class="clickable awesome_button add_new_rows">Add</h3>
	</div>

	<div id="analyze" data-bind="visible: dataModel.current.state() == 'analyze' ">
		<%= render :partial => 'analyze' %>
	</div>


<%= render :partial => 'filter' %>
<%= render :partial => 'grouped' %>
<%= render :partial => 'goal' %>
<%= render :partial => 'groupedRow' %>

<script type="text/javascript">
	var _fields = <%= raw @fields.to_json %>;
	var _rows = <%= raw @rows.to_json %>;
	var _size = <%= raw @size.to_json %>;
	var _list = <%= raw @list.name.to_json %>;
	var _url = '<%= '/'+@list.org.to_param+'/'+@list.to_param %>';
	var _views = <%= raw @views.to_json %>;
	var _quicksearch = <%= raw params[:q].to_json %>;
	<% unless @current_view.nil? %>
	var _currentView = <%= raw @current_view.to_json %>;
	<% end %>
	<% unless @list.operators.nil? %>
	var _operators = <%= raw @list.operators.to_json %>;
	<% end %>
</script>

<% content_for :overlay do %>
	<%= render :partial => 'bug' %>
	<%= render :partial => 'help' %>
<% end %>

<% content_for :footer do %>
	<%= render :partial => 'menu' %>
<% end %>

