<script type="text/javascript">
	var _fields = <%= raw @list.fields.to_json %>;
	var _rows = <%= raw @list.rows().to_json %>;
</script>

<h2 id="thing"><%= @list.name %></h2>

<%= render :partial => 'views' %>

<%= render :partial => 'table' %>

