<% content_for :org do %>
	<%= link_to @list.org.name, org_path(@list.org.to_param) %>
<% end %>
<% content_for :page_title do %>
	<%= @list.name %>
<% end %>
<% content_for :doc_title do %>
	<% unless @current_view.nil? %>
		<%= @list.views[@current_view].name.capitalize+' of ' %>
	<% end %>
	<%= @list.name %>
<% end %>
<% content_for :extra do %>
	<%= render :partial => 'views' %>
<% end %>


	<div id="data" data-bind="visible: !currentView().groups.on()" >
		<div id="table" class="table">
			<%= render :partial => 'table' %>
		</div>
		<div id="new_rows" class="table">
			<%= render :partial => 'newRow' %>
		</div>
	</div>
	<div id="analyze" data-bind="visible: currentView().groups.on()">
		<%= render :partial => 'row' %>
		<%= render :partial => 'groupedRow' %>

		<%= render :partial => 'grouped' %>
		<%= render :partial => 'graph' %>	
	</div>

<script type="text/javascript">
	var _fields = <%= raw @fields.to_json %>;
	var _rows = <%= raw @rows.to_json %>;
	var _size = <%= raw @size.to_json %>;
	var _list = <%= raw @list.name.to_json %>;
	var _url = '<%= '/'+@list.org.to_param+'/'+@list.to_param %>';
	var _views = <%= raw @views.to_json %>;
	<% unless @current_view.nil? %>
	var _currentView = <%= raw @current_view.to_json %>;
	<% end %>
	<% unless @list.operators.nil? %>
	var _operators = <%= raw @list.operators.to_json %>;
	<% end %>
</script>

<% content_for :overlay do %>
	<%= render :partial => 'bug' %>
	<%= render :partial => 'help' %>
<% end %>

<% content_for :footer do %>
	<div id="switch" class="f_tab" data-bind="text: viewModel.switchText"></div>
	<div id="xls" class="f_tab" url="<%= list_path(@list.org.to_param, @list.to_param)+'.xls' %>">Export</div>
	<div id="bug" class="f_tab overlayer">Bug</div>
	<div id="help" class="f_tab overlayer">?</div>
<% end %>
