<% content_for :doc_title, @org.name %>

<% content_for :page_title do %>
	<%= @org.name %>
<% end %>


<% unless @org.lists.empty? %>
	<h2>Lists</h2>
	<ul>
		<% @org.lists.each do |list| %>
		<li>
			<%= link_to list.name, list_path(@org.to_param, list.to_param) %>
			<em><%= link_to 'Edit', list_path(@org.to_param, list.to_param) if can? :manage, @org%></em>
		</li>
		<% end %>
	</ul>
<% end %>
<%= link_to 'New List', list_new_path(@org.id), :class => 'button', :style => 'padding: 6px 30px; height: 10px; margin: 0; line-height: 5em;' if can? :manage, @org %>


<% unless @org.users.empty? %>
	<h2>Users</h2>
	<ul>
		<% @org.users.each do |user| %>
		<li>
			<strong>
				<%= user.email %>
			</strong>
			<% if current_user == user %>
				 (that's you)
			<% else %>
				<% if can? :manage, @org %>
					<% if user.membership(@org).admin? %>
						<%= link_to 'remove admin?', update_membership_path(@org.id, user.membership(@org).id, :doing => 'remove-admin') %>
					<% else %>
						<%= link_to 'make admin?', update_membership_path(@org.id, user.membership(@org).id, :doing => 'make-admin') %>
					<% end %>
					<%= link_to 'remove?', destroy_membership_path( @org.id, user.membership(@org).id ) %>
				<% end %>
			<% end %>
		</li>
		<% end %>
	</ul>
<% end %>

<% if can? :manage, @org %>
<h2>Invites</h2>
<% unless @invites.empty? %>
	<ul>
		<% @invites.each do |invite| %>
			<% unless invite.invite_token.nil? %>
			<li>
				<input value="<%= root_url+invite_membership_path(@org.id, invite.invite_token).slice(1,100) %>" class="url_select">
				(<%= link_to 'x', destroy_membership_path( @org.id, invite.id ) %>)
				
			</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
<%= link_to '+Make', add_membership_path(@org.id) %>
<% end %>

