<!DOCTYPE html>
<html>
<head>
  <title><%=raw yield(:doc_title)+' | ' unless yield(:doc_title).empty? %>Go. Fight. Win.</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Tienne:400,700" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'big_header' unless yield(:extra).empty? %>">

	<% if user_signed_in? %>
	<div id="header">
		<div id="user_nav">
		    <p>
			<strong><%= current_user.email %></strong><br />
			<%= link_to 'account', edit_user_registration_path %>,
		    <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
			</p>
		 </div>
		
		<%= link_to 'Go. Fight. Win.', root_url, :id => 'logo' %><span class="divider">&raquo;</span>
		<%=raw '<h3 class="org">org: '+yield(:org)+'</h3>' unless yield(:org).empty? %>
		
		<% unless yield(:page_title).empty? %>
			<h1 class="title"><%=h yield(:page_title) %></h1>
		<% end %>
		
		<%=h yield(:extra) %>
		<div id="msg">
			<div id="container">
				<span class="clear"><%= 'x' if !notice.nil? || !alert.nil? %></span>
				<p class="notice"><%= notice %></p>
	    		<p class="alert"><%= alert %></p>
			</div>
	    </div>
	</div>
	<% else %>
	<div id="msg">
		<div id="container">
			<span class="clear"><%= 'x' if !notice.nil? || !alert.nil? %></span>
			<p class="notice"><%= notice %></p>
    		<p class="alert"><%= alert %></p>
		</div>
    </div>
	<div id="unauthorized">
		<h1>Go. Fight. Win.</h1>
	<% end %>
		<div id="content">
	<%= yield %>
		</div>
	<% if user_signed_in? %>
	<% else %>
		</div>
	<% end %>
	<div id="overlay">
		<span class="overlay_close clickable">x</span>
		<%= yield(:overlay) %>
	</div>
	<div id="footer">
		<%= yield(:footer) %>
	</div>
</body>
</html>
