<!DOCTYPE html>
<html>
<head>
  <title><%=raw yield(:doc_title)+' | ' unless yield(:doc_title).empty? %>Go. Fight. Win.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="
	<%= 'big_header' unless yield(:extra).empty? %>
	site
	<%= user_signed_in? ? 'authed' : 'inauth' %>
	">

	<% if user_signed_in? %>
	<div id="header">
		<div id="user_nav">
		    <p>you are
			<%= link_to current_user.email, edit_user_registration_path %> | 
		    <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
			</p>
		 </div>
		<% if @list.nil? %>
			<%= link_to 'GFW.', root_url, :id => 'logo' %>
		<% else %>
			<%= link_to 'GFW.', org_path(@org.to_param), :id => 'logo' %>
		<% end %>
		
		<% unless yield(:page_title).empty? %>
			<h1 class="title"><%=h yield(:page_title) %></h1>
		<% end %>
		
		<% if @dsd.nil? %>
			<p style="background-color: #fff;
			width: 220px;
			padding: 6px;
			border-radius: 5px;
			position: absolute;
			<%= 'top: 14px; right: 140px;' unless yield(:extra).empty? %>
			<%= 'top: -4px; right: 340px;' if yield(:extra).empty? %>
			font-size: 7px;"><strong>NOTICE:</strong> <a style="color: #747474" href="<%= notice_path %>" >GFW is no longer in active development</a></p>
		<% end %>
		<%=h yield(:extra) %>
		<div id="msg">
			<div id="container">
				<span class="clear"><%= 'x' if !notice.nil? || !alert.nil? %></span>
				<% unless notice.nil? %>
					<p class="notice"><%= notice %></p>
				<% end %>
				<% unless alert.nil? %>
					<p class="alert"><%= alert %></p>
				<% end %>
			</div>
	    </div>
	</div>
	<% else %>
	<div id="msg">
		<div id="container">
			<span class="clear"><%= 'x' if !notice.nil? || !alert.nil? %></span>
			<p class="notice"><%= notice %></p>
    		<p class="alert"><%= alert %></p>
		</div>
    </div>
	<div id="unauthorized">
		<h1>Go. Fight. Win.</h1>
	<% end %>
		<div id="content">
	<%= yield %>
		</div>
	<% if user_signed_in? %>
	<% else %>
		</div>
	<% end %>
	<div id="overlay">
		<span class="overlay_close clickable">x</span>
		<%= yield(:overlay) %>
	</div>
	<div id="footer">
		<%= yield(:footer) %>
	</div>
	<script type="text/javascript">
		current_user = <%= raw current_user.to_json %>;
	</script>
</body>
</html>
